* text=auto eol=lf


    *.css diff=css
    *.html diff=html
    *.css linguist-language=css
    *.html linguist-language=html

*.css linguist-language=css
*.css linguist-language=Css
*.css linguist-language=CSS
*.html linguist-language=html
*.html linguist-language=HTML
*.html linguist-language=Html
*.js linguist-language=JAVASCRIPT

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
